body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2711px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2711px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:480px;
  width:180px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:480px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:356px;
  width:99px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:356px;
  width:80px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:356px;
  width:79px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:356px;
  width:79px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
