body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1919px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1919px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:840px;
  width:183px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:840px;
  width:183px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:288px;
  width:58px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
