body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1892px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1892px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1028px;
  width:279px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u375 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1028px;
  width:279px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u376 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:236px;
  width:70px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
