body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1919px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1919px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:502px;
  width:185px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:286px;
  width:49px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
