body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2548px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2548px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1688px;
  width:277px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u372 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1688px;
  width:277px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
