body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2143px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2143px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:594px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:622px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:761px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:789px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:813px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:839px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:356px;
  width:99px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:356px;
  width:80px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:356px;
  width:79px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:356px;
  width:79px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
