body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1610px;
  width:239px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:246px;
  width:239px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
  background-image:none;
}
#u60_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
}
#u62_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2525px;
  overflow:hidden;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
