body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1600px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1600px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1250px;
  width:327px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
